<!DOCTYPE html>
<html lang="en">
<head>
    <!--vue测试-->
    <meta charset="UTF-8">
    <title>vue测试</title>
    <script type="text/javascript" src="../../../static/js/vue/vue.js"></script>

</head>
<body>
<div id="root">{{msg}}</div>

<div id="point">
    <div>{{msg}}</div>
    <button class="btn btn-success" @click="sendRequest">提交</button>
    <ul>
        <li v-for="(item ,index) of list" :key="index">{{item}}</li>
    </ul>
</div>

<script type="text/javascript">
    new Vue({
        el: "#root",
        data: {
            msg: "hello world"
        }
    });

    new Vue({
        el:"#point",
        data:{
            msg:"aaa",
            list:[],
        },
        methods:{
            sendRequest:function () {
                console.log("发送请求...")
                //发送get请求
                this.$http.get('../../../vue/getArray').then(function(result){
                    var array=result.extend.array;
                    this.list=array;
                },function(){
                    console.log('请求失败处理');
                });
            }
        },
    });

</script>
</body>
</html>